<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <%= require('html-loader!./layout/head-common.html') %>
        <title>happymmall电商平台</title>
    </head>

    <body>
        <%= require('html-loader!./layout/nav.html') %>
        <!-- <h1>hello, webpack</h1>
        <div class="">
            <a class= 'link'>link test</a>
            <a class= 'link-text'>link-text test</a>
        </div>
        <div class="">
            <a class= 'btn'>btn test</a>
            <a class= 'btn btn-mini'>btn-mini test</a>
        </div>
        <div class="loading"></div>
        <div class="">
            <i class="fa fa-user"></i>
        </div> -->

       <%= require('html-loader!./layout/footer-common.html') %>
    </body>
</html>
