/**
 * @Author: 王贺
 * @Date:   2018-11-20T21:29:10+08:00
 * @Last modified by:   王贺
 * @Last modified time: 2018-11-20T21:38:13+08:00
 */
 .footer{
     margin-top: 20px;
     padding-bottom: 10px;
 }
 .footer .links{
     text-align: center;
     color: #666;
     line-height: 30px;
 }
 .footer .links .link{
     padding: 0 5px;
 }
 .footer .copyright{
     text-align: center;
     color: #666;
     line-height: 30px;
 }
