/**
 * @Author: 王贺
 * @Date:   2018-11-07T20:33:00+08:00
 * @Last modified by:   王贺
 * @Last modified time: 2018-11-08T21:23:30+08:00
 */
body{
    /* background: url('../../image/test.jpg'); */
    background: #ccc;
    color: red;
    font-size: 36px;
}
